
$font-primary: "Montserrat", "sans-serif";
$font-sentence: "Helvetica", "sans-serif";
$font-bold: 600;
$font-color-grey-text: #bfbebe;
$line--color-dark-light:#22222A;

$color-red: #F58B82;
$color-green: #5DF59F;
$color-is-info: #F5B951;
$color-dark: #22222a;
$color-purple: #898fe3;
$color-blue: #6AF4F5;
