@import "./content/Features";
@import '../_globalVars.scss';


section > #Content {
  background-color: #17171d;
  padding: 2rem;
}
@media (max-width: 999px)
{
  .content-container {
    margin: auto;
    width: 100%;
  }
}
@media(min-width: 1000px)
{
  .content-container {
    margin: auto;
    width: 72%;
  }
}


h2{
  color:#D6FFFF;
  margin: 1.0em 0.5em;
  margin-bottom: 0.75em;
}

#Content p
{
  color:silver;
}

.container
{
  margin-bottom:1em;
  border-bottom: 1px solid black;
  grid-column: 1;
  grid-row: 1;
}

.container p {
  text-align: center;
  font-family: $font-sentence;
  color: #424242;
}

#Content h3 {
  margin-top: 5%;
  text-align: center;
  line-height: 1.1em;
  color: #fff;
}

.button-container
{
  width: 20vw;
  margin: auto;
  display: flex;
  color: #192e48;
  align-items: flex-end;
  margin-bottom: 1.3em;
}


.button-container .selected {
  background-color: #005a9c;
  color: white;
}

.button-container .selected:hover {
  color: #fff;
}

//.container-features, .container-patterns
// {
//   margin: auto;
//   width:100%;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
//   justify-items: center;
//
// }
.container-features, .container-patterns
{
  margin: auto;
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  justify-items: center;

}



