/*--------------------------------
FOOTER
--------------------------------*/
.footer {
  width: 100%;
  background-color: #17171d;
  margin: auto;
}

.footer-container {
  padding-left: 20%;
  padding-right: 20%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer-container ul {
  padding: 0;
  margin-bottom: 0;
}

.footer-container .button-up {
  margin-bottom: 3em;
  margin-top: 3em;
  text-align: center;
}

.row-2-up {
  margin: auto;
}

.button-up button {
  border: 0;
  background: transparent;
  color: #fff;
}

.button-up button:hover {
  color: #fc8966;
}

.button-up i {
  font-size: 2.441em;
  text-align: center;
}

.footer-container li {
  list-style: none;
  margin-top: 0.262em;
  font-size: 1em;
  color: #95b8fd;
}

.row-2 {
  grid-row: 1;
  grid-column: 1/4;
}

.row-2 .link-section {
  display: block;
  color: #495057;
  align-items: center;
}

.link-section > div {
  display: inline-block;
  margin-left: 1.85em;
  margin-bottom: 1.85em;
}

.underline {
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 1.85em;
}

.social-media {
  display: block;
  margin: auto;
  margin-bottom: 3em;
  text-align: center;
}

.social-media .circle {
  display: inline-block;
  border: 2px solid #66fcf1;
  border-radius: 50%;
  text-align: center;
  background: transparent;
  color: #66fcf1;
  width: 5em;
  height: 5em;
}

.social-media a {
  margin: 0 0.328em;
}

.social-media i {
  font-size: 2.441em;
  vertical-align: middle;
  color: #66fcf1;
}

.social-media i:hover {
  color: #fff;
}

.trademark {
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  margin-bottom: 3em;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.footer svg {
  font-size: 2em;
  color: white;
}

@media (max-width: 1073px) {
  .footer svg {
    font-size: 3em;
    color: white;
  }
}
.footer svg:hover {
  color: #6af4f5;
}

/*--------------------------------
HEADER
--------------------------------*/
/*Navigation ends here*/
.content-features {
  padding: 1em;
}

.features-box {
  flex-basis: 30%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  background: #22222a;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: -9px 13px 25px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -9px 13px 25px 0px rgba(0, 0, 0, 0.41);
  box-shadow: -9px 13px 25px 0px rgba(0, 0, 0, 0.41);
}

@media (max-width: 1333px) {
  .features-box {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1073px) {
  .features-box {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .features-box {
    flex-basis: 45%;
  }
}
@media (max-width: 555px) {
  .features-box {
    flex-basis: 100%;
  }
}
.features-box div {
  vertical-align: middle;
  display: inline-block;
  /*border-radius: 20px;*/
  margin: auto;
  margin-top: 5%;
}

.features-box h4 {
  color: #D6FFFF;
}

.features-box h3 {
  margin: 0.5em;
}

.feature-icon svg {
  font-size: 5em;
  /*height: 58px;*/
  padding: 0.1em;
  vertical-align: middle;
  color: #f58d6a;
}

.features-box p {
  color: #424242;
  font-family: "Helvetica", "sans-serif";
  margin-right: 1em;
  margin-left: 1em;
}

section > #Content {
  background-color: #17171d;
  padding: 2rem;
}

@media (max-width: 999px) {
  .content-container {
    margin: auto;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .content-container {
    margin: auto;
    width: 72%;
  }
}
h2 {
  color: #D6FFFF;
  margin: 1em 0.5em;
  margin-bottom: 0.75em;
}

#Content p {
  color: silver;
}

.container {
  margin-bottom: 1em;
  border-bottom: 1px solid black;
  grid-column: 1;
  grid-row: 1;
}

.container p {
  text-align: center;
  font-family: "Helvetica", "sans-serif";
  color: #424242;
}

#Content h3 {
  margin-top: 5%;
  text-align: center;
  line-height: 1.1em;
  color: #fff;
}

.button-container {
  width: 20vw;
  margin: auto;
  display: flex;
  color: #192e48;
  align-items: flex-end;
  margin-bottom: 1.3em;
}

.button-container .selected {
  background-color: #005a9c;
  color: white;
}

.button-container .selected:hover {
  color: #fff;
}

.container-features, .container-patterns {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  justify-items: center;
}

h4 {
  color: #D6FFFF;
}

button span {
  color: white;
}

/*New stuff*/
.white-container {
  background-color: white;
  padding: 5em;
}

.content-button {
  display: inline-block;
  width: 100%;
  font-size: 1.25em;
  padding: 4% 1%;
  background-color: transparent;
  border: 1px solid #296954;
}

.content-button:hover {
  background-color: #005a9c;
  color: white;
}

.display {
  display: grid;
}

/*pricing section*/
.pricing {
  background-color: #fff;
  height: 20vh;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
