@import '../_globalVars.scss';
@import '../_Mixins.scss';

.header button {
  outline: 0;
  border: none; /* Remove borders */
  background-color:transparent;
}

.statistics-box
{
  margin-left: 5%;
  margin-right: 5%;
  @include shadow($color: rgba(102,252,241,0.2));
}

@media (min-width: 1025px) {
  .statistics-box {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media (max-width: 1025px) {
  .statistics-box {
    margin-left: 5%;
    margin-right: 5%;
  }
}

table {
  margin-bottom:3vh;
}


table td
{
  padding: 0.3em 0.4em;
  @include non-selectable;
}
table th{
  padding: 0.3em 0.4em;
  @include non-selectable;
}
table td, table th {
  text-align: center;
  overflow: hidden;
  word-break: normal;
  color: #fff;
  font-size: 1em;
  font-weight: normal;
}

th {
  position: sticky;
  top: 0;
}
table td {
  font-family: $font-sentence;
  background-color: rgba(102,252,241,0.03);
}

table th i {
  font-size: 1.25em;
  color: #fff;
}
table th i:hover
{
  color:white;
}
table th {
  font-family: $font-sentence;
  background-color: #222431;
}
